body > div{
    position: absolute;
    width: 1200px;
    height: 500px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

body > div > div{
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background-color: red;
}

body > div > div:nth-child(8){
    left: 1000px;
}

body > div > div:nth-child(3),
body > div > div:nth-child(4),
body > div > div:nth-child(5),
body > div > div:nth-child(6){
    left: 200px;
    display: inline-block;
}